* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.grid {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
}
.grid-cell {
    height: 100px;
    width: 100px;
    background-color: gray;
    margin: 2px;
    
}
